* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  background-color: #a2ecd4;
  width: 800px;
  margin-top: 50px;
  justify-self: center;
}

.first-episode {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.phantom {
  background-color: hwb(248 34% 4%);
  padding: 1.5rem;
  border-radius: 10px;
  width: 200px;
}

.clones {
  background-color: #f0c57f;
  padding: 1.5rem;
  border-radius: 10px;
  width: 200px;
   
}

.revenge {
  background-color: hwb(304 39% 8%);
  padding: 1.5rem;
  border-radius: 10px;
  width: 200px;
}

.strikes {
  background-color: hwb(304 39% 8%);
  padding: 1.5rem;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
}

.jedi {
  background-color: hwb(248 34% 4%);
  padding: 1.5rem;
  border-radius: 10px;
  width: 197px;
  margin-right: 5px;
  margin-top: 10px;
}

.force {
  background-color: #f0c57f;
  padding: 1.5rem;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
}